USE [master]
GO
/****** Object:  Database [proyecto_Famular_Lezcano]    Script Date: 10/11/2025 22:40:29 ******/
CREATE DATABASE [proyecto_Famular_Lezcano]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyecto_Famular_Lezcano', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\proyecto_Famular_Lezcano.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyecto_Famular_Lezcano_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\proyecto_Famular_Lezcano_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyecto_Famular_Lezcano].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyecto_Famular_Lezcano]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 10/11/2025 22:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[administrador_id] [int] NOT NULL,
	[vive_ahi] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[administrador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [nvarchar](50) NOT NULL,
	[apellido_cliente] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](150) NULL,
	[contrasena_cliente] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conserje]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conserje](
	[conserje_id] [int] NOT NULL,
	[jornada_laboral] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[conserje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edificio]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edificio](
	[provincia_id] [int] NOT NULL,
	[localidad_id] [int] NOT NULL,
	[edificio_id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](250) NULL,
	[zona_id] [int] NULL,
	[conserje_id] [int] NULL,
	[administrador_id] [int] NULL,
 CONSTRAINT [pk_edificio] PRIMARY KEY CLUSTERED 
(
	[provincia_id] ASC,
	[localidad_id] ASC,
	[edificio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gasto]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gasto](
	[gasto_id] [int] IDENTITY(1,1) NOT NULL,
	[provincia_id] [int] NULL,
	[localidad_id] [int] NULL,
	[edificio_id] [int] NULL,
	[periodo] [int] NULL,
	[fecha_pago] [datetime] NULL,
	[tipo_gasto_id] [int] NULL,
	[importe] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[gasto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localidad]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidad](
	[provincia_id] [int] NOT NULL,
	[localidad_id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [pk_localidad] PRIMARY KEY CLUSTERED 
(
	[provincia_id] ASC,
	[localidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[nombre_pelicula] [nvarchar](100) NOT NULL,
	[imagen] [nvarchar](255) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[sinopsis] [nvarchar](500) NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_ticket] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[persona_id] [int] IDENTITY(1,1) NOT NULL,
	[apellido_nombre] [varchar](50) NULL,
	[telefono] [varchar](20) NULL,
	[sexo] [varchar](1) NOT NULL,
	[fecha_nacimiento] [datetime] NULL,
	[estado_civil] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[persona_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincia]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincia](
	[provincia_id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[superficie_km2] [int] NULL,
	[cantidad_departamentos] [int] NULL,
	[poblacion] [int] NULL,
	[capital] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[provincia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id_ticket] [int] IDENTITY(1,1) NOT NULL,
	[cod_visualizacion] [nvarchar](20) NOT NULL,
	[link] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_gasto]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_gasto](
	[tipo_gasto_id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_gasto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[nombre_usuario] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta_Cabecera]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta_Cabecera](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha_compra] [datetime] NULL,
	[total_venta] [decimal](10, 2) NULL,
	[id_cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta_Detalle]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta_Detalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zona]    Script Date: 10/11/2025 22:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zona](
	[zona_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zona_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id_categoria], [descripcion], [activo]) VALUES (1, N'Terror', 1)
INSERT [dbo].[Categoria] ([id_categoria], [descripcion], [activo]) VALUES (2, N'Ciencia Ficcion', 1)
INSERT [dbo].[Categoria] ([id_categoria], [descripcion], [activo]) VALUES (3, N'Romance', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_cliente], [nombre_cliente], [apellido_cliente], [email], [telefono], [direccion], [contrasena_cliente]) VALUES (1, N'Lautaro', N'Lezcano', N'lautarofranciscolezcano@gmail.com', N'3794815400', N'9 de Julio 1324', N'$2a$11$cj9TfPdUaHb7XHpSoGoZvu5Pf3NUqjFOoDnUTPfsMhZpPjNhVq1OS')
INSERT [dbo].[Cliente] ([id_cliente], [nombre_cliente], [apellido_cliente], [email], [telefono], [direccion], [contrasena_cliente]) VALUES (2, N'Juan', N'Martinez', N'juan@gmail.com', N'3795678940', N'25 de Mayo 5674', N'$2a$11$r549o6INSnnUWJK/cCQ7ROW9j8N8kxY0m1u7Rnll1Z0twBqg42jH2')
INSERT [dbo].[Cliente] ([id_cliente], [nombre_cliente], [apellido_cliente], [email], [telefono], [direccion], [contrasena_cliente]) VALUES (3, N'Marina', N'Fernandez', N'marina@gmail.com', N'3456789078', N'Ayacucho 6789', N'$2a$11$KuOt88EGlB9j667bQyqXU.LCT8RIwX67rfoP/Mq3Sjxs8vCvnzTWW')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

INSERT [dbo].[Pelicula] ([id_pelicula], [nombre_pelicula], [imagen], [precio], [sinopsis], [stock], [id_categoria], [id_ticket]) VALUES (2, N'Carnival of Souls', N'C:\Users\HP\Desktop\imagenes de Pelis\carnivalOfSouls.jpg', CAST(1560.00 AS Decimal(10, 2)), N'Después de un accidente traumático, una mujer se ve atraída por un misterioso carnaval abandonado.', 30, 1, 2)
INSERT [dbo].[Pelicula] ([id_pelicula], [nombre_pelicula], [imagen], [precio], [sinopsis], [stock], [id_categoria], [id_ticket]) VALUES (13, N'Fear and Desire', N'C:\Users\HP\Desktop\imagenes de Pelis\fearAndDesire.jpg', CAST(3200.50 AS Decimal(10, 2)), N'Cuatro militares se lanzan en paracaídas en territorio enemigo para cumplir una peligrosa misión.', 133, 9, 41)
SET IDENTITY_INSERT [dbo].[Pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre_rol]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([id_rol], [nombre_rol]) VALUES (2, N'Gerente')
INSERT [dbo].[Rol] ([id_rol], [nombre_rol]) VALUES (3, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([id_ticket], [cod_visualizacion], [link]) VALUES (1, N'635585', N'https://archive.org/download/the-39-steps-1935-subtitulada/39%20escalones%20-%20%281935%29%20%5B1080P%5D%20%5BVOSE%5D.ia.mp4')
INSERT [dbo].[Ticket] ([id_ticket], [cod_visualizacion], [link]) VALUES (2, N'887833', N'https://archive.org/embed/carnivalofsouls_201907/Carnival%20of%20Souls.mp4')
INSERT [dbo].[Ticket] ([id_ticket], [cod_visualizacion], [link]) VALUES (3, N'883705', N'https://archive.org/embed/Charade19631280x696/Charade-1963.mp4')
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [nombre_usuario], [email], [contrasena], [id_rol], [estado]) VALUES (1, N'Pepe', N'Perez', N'Admin', N'admin@gmail.com', N'$2a$11$BAz86ZW.lmGsf1H389OQrueXCmqxJtM7wttbIknfQz7hOEadEbII6', 1, 1)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [nombre_usuario], [email], [contrasena], [id_rol], [estado]) VALUES (2, N'Maria ', N'Gomez', N'Vendedor1', N'maria@gmail.com', N'$2a$11$fpx2ofGIK1I6FeiPJbbd7uFeZkIDi3Y8suJ7rWQXKUIWz/dMU1tZi', 3, 1)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [nombre_usuario], [email], [contrasena], [id_rol], [estado]) VALUES (3, N'Pedro', N'Rodriguez', N'Gerente1', N'pedro@gmail.com', N'$2a$11$qzpn7qqP0rMNAgqKnRs1SeD2768iJ4r.5f2ofP0KVzWJaUip3uGBC', 2, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta_Cabecera] ON 

INSERT [dbo].[Venta_Cabecera] ([id_venta], [fecha_compra], [total_venta], [id_cliente]) VALUES (1, CAST(N'2025-11-06T11:29:22.080' AS DateTime), CAST(1300.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Venta_Cabecera] ([id_venta], [fecha_compra], [total_venta], [id_cliente]) VALUES (2, CAST(N'2025-11-06T11:35:11.080' AS DateTime), CAST(2600.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Venta_Cabecera] ([id_venta], [fecha_compra], [total_venta], [id_cliente]) VALUES (3, CAST(N'2025-11-10T10:35:48.177' AS DateTime), CAST(11352.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Venta_Cabecera] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta_Detalle] ON 

INSERT [dbo].[Venta_Detalle] ([id_detalle], [cantidad], [id_pelicula], [id_venta], [id_usuario]) VALUES (3, 2, 13, 3, 2)
INSERT [dbo].[Venta_Detalle] ([id_detalle], [cantidad], [id_pelicula], [id_venta], [id_usuario]) VALUES (4, 2, 21, 3, 2)
INSERT [dbo].[Venta_Detalle] ([id_detalle], [cantidad], [id_pelicula], [id_venta], [id_usuario]) VALUES (5, 1, 22, 3, 2)
SET IDENTITY_INSERT [dbo].[Venta_Detalle] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ticket__3792E9D0409F07D2]    Script Date: 10/11/2025 22:40:30 ******/
ALTER TABLE [dbo].[Ticket] ADD UNIQUE NONCLUSTERED 
(
	[cod_visualizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__D4D22D74DD9F51DF]    Script Date: 10/11/2025 22:40:30 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administrador] ADD  DEFAULT ('N') FOR [vive_ahi]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[conserje] ADD  DEFAULT ('C') FOR [jornada_laboral]
GO
ALTER TABLE [dbo].[persona] ADD  DEFAULT ('S') FOR [estado_civil]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Venta_Cabecera] ADD  DEFAULT (getdate()) FOR [fecha_compra]
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [fk_administrador_persona] FOREIGN KEY([administrador_id])
REFERENCES [dbo].[persona] ([persona_id])
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [fk_administrador_persona]
GO
ALTER TABLE [dbo].[conserje]  WITH CHECK ADD  CONSTRAINT [fk_conserje_persona] FOREIGN KEY([conserje_id])
REFERENCES [dbo].[persona] ([persona_id])
GO
ALTER TABLE [dbo].[conserje] CHECK CONSTRAINT [fk_conserje_persona]
GO
ALTER TABLE [dbo].[edificio]  WITH CHECK ADD  CONSTRAINT [fk_edificio_administrador] FOREIGN KEY([administrador_id])
REFERENCES [dbo].[administrador] ([administrador_id])
GO
ALTER TABLE [dbo].[edificio] CHECK CONSTRAINT [fk_edificio_administrador]
GO
ALTER TABLE [dbo].[edificio]  WITH CHECK ADD  CONSTRAINT [fk_edificio_conserje] FOREIGN KEY([conserje_id])
REFERENCES [dbo].[conserje] ([conserje_id])
GO
ALTER TABLE [dbo].[edificio] CHECK CONSTRAINT [fk_edificio_conserje]
GO
ALTER TABLE [dbo].[edificio]  WITH CHECK ADD  CONSTRAINT [fk_edificio_localidad] FOREIGN KEY([provincia_id], [localidad_id])
REFERENCES [dbo].[localidad] ([provincia_id], [localidad_id])
GO
ALTER TABLE [dbo].[edificio] CHECK CONSTRAINT [fk_edificio_localidad]
GO
ALTER TABLE [dbo].[edificio]  WITH CHECK ADD  CONSTRAINT [fk_edificio_zona] FOREIGN KEY([zona_id])
REFERENCES [dbo].[zona] ([zona_id])
GO
ALTER TABLE [dbo].[edificio] CHECK CONSTRAINT [fk_edificio_zona]
GO
ALTER TABLE [dbo].[gasto]  WITH CHECK ADD  CONSTRAINT [fk_gasto_edificio] FOREIGN KEY([provincia_id], [localidad_id], [edificio_id])
REFERENCES [dbo].[edificio] ([provincia_id], [localidad_id], [edificio_id])
GO
ALTER TABLE [dbo].[gasto] CHECK CONSTRAINT [fk_gasto_edificio]
GO
ALTER TABLE [dbo].[gasto]  WITH CHECK ADD  CONSTRAINT [fk_gasto_tipo] FOREIGN KEY([tipo_gasto_id])
REFERENCES [dbo].[tipo_gasto] ([tipo_gasto_id])
GO
ALTER TABLE [dbo].[gasto] CHECK CONSTRAINT [fk_gasto_tipo]
GO
ALTER TABLE [dbo].[localidad]  WITH CHECK ADD  CONSTRAINT [fk_localidad_provincia] FOREIGN KEY([provincia_id])
REFERENCES [dbo].[provincia] ([provincia_id])
GO
ALTER TABLE [dbo].[localidad] CHECK CONSTRAINT [fk_localidad_provincia]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [fk_pelicula_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [fk_pelicula_categoria]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [fk_pelicula_ticket] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[Ticket] ([id_ticket])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [fk_pelicula_ticket]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_usuario_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_usuario_rol]
GO
ALTER TABLE [dbo].[Venta_Cabecera]  WITH CHECK ADD  CONSTRAINT [fk_venta_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Venta_Cabecera] CHECK CONSTRAINT [fk_venta_cliente]
GO
ALTER TABLE [dbo].[Venta_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_detalle_pelicula] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Pelicula] ([id_pelicula])
GO
ALTER TABLE [dbo].[Venta_Detalle] CHECK CONSTRAINT [fk_detalle_pelicula]
GO
ALTER TABLE [dbo].[Venta_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_detalle_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta_Cabecera] ([id_venta])
GO
ALTER TABLE [dbo].[Venta_Detalle] CHECK CONSTRAINT [fk_detalle_venta]
GO
ALTER TABLE [dbo].[Venta_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Venta_Detalle] CHECK CONSTRAINT [fk_usuario]
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [ck_administrador_vive_ahi] CHECK  (([vive_ahi]='N' OR [vive_ahi]='S'))
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [ck_administrador_vive_ahi]
GO
ALTER TABLE [dbo].[conserje]  WITH CHECK ADD  CONSTRAINT [ck_conserje_jornada_laboral] CHECK  (([jornada_laboral]='C' OR [jornada_laboral]='M'))
GO
ALTER TABLE [dbo].[conserje] CHECK CONSTRAINT [ck_conserje_jornada_laboral]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [ck_persona_estado_civil] CHECK  (([estado_civil]='O' OR [estado_civil]='D' OR [estado_civil]='C' OR [estado_civil]='S'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [ck_persona_estado_civil]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [ck_persona_sexo] CHECK  (([sexo]='X' OR [sexo]='M' OR [sexo]='F'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [ck_persona_sexo]
GO
USE [master]
GO
