USE [master]
GO
/****** Object:  Database [proyecto_Famular_Lezcano]    Script Date: 22/9/2025 18:51:01 ******/
CREATE DATABASE [proyecto_Famular_Lezcano]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyecto_Famular_Lezcano', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\proyecto_Famular_Lezcano.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyecto_Famular_Lezcano_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\proyecto_Famular_Lezcano_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyecto_Famular_Lezcano].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyecto_Famular_Lezcano]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 22/9/2025 18:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/9/2025 18:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](100) NOT NULL,
	[apellido_cliente] [varchar](100) NOT NULL,
	[email] [varchar](150) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 22/9/2025 18:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[nombre_pelicula] [varchar](150) NOT NULL,
	[imagen] [varchar](255) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[sinopsis] [varchar](max) NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/9/2025 18:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[nombre_usuario] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[id_pelicula] [int] NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta_Cabecera]    Script Date: 22/9/2025 18:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta_Cabecera](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha_compra] [date] NOT NULL,
	[totalVenta] [decimal](10, 2) NOT NULL,
	[id_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta_Detalle]    Script Date: 22/9/2025 18:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta_Detalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[id_pelicula] [int] NULL,
	[id_venta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [nombre_usuario], [email], [contrasena], [rol], [id_pelicula], [estado]) VALUES (1, N'Admin', N'Prueba', N'Admin', N'admin@gmail.com', N'$2a$11$avLs0NZwcASPRoipBYVFEOhbu82LZM0nRYvv6/BQCgc3Yf9Du9dSO', N'Administrador', NULL, 0)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [nombre_usuario], [email], [contrasena], [rol], [id_pelicula], [estado]) VALUES (2, N'Vendedor', N'Prueba', N'Vendedor', N'vendedor@gmail.com', N'$2a$11$kCflWug9hby9WwJMMH4Yo.elZy.4p9D67jjg7jEWvf4RR00QMCFom', N'Vendedor', NULL, 0)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [nombre_usuario], [email], [contrasena], [rol], [id_pelicula], [estado]) VALUES (3, N'Pepe', N'Perez', N'Pepe', N'pepe@gmail.com', N'$2a$11$WN2QRj/DdsmQdZWFOiBzOOoK7B6gQe96gug3m8imHd1nKi9YnB6pa', N'Gerente', NULL, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__AB6E61646215CC73]    Script Date: 22/9/2025 18:51:01 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Pelicula] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Pelicula] ([id_pelicula])
GO
ALTER TABLE [dbo].[Venta_Cabecera]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Venta_Detalle]  WITH CHECK ADD FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Pelicula] ([id_pelicula])
GO
ALTER TABLE [dbo].[Venta_Detalle]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta_Cabecera] ([id_venta])
GO
USE [master]
GO
